/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

$light-gray: #EEE;
$border: #D1D1D1;
$blue: blue;

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background: $light-gray;
  font-size: 1.5 em;
  line-height: 3;

  ul {
    display: inline;

    li {
      text-decoration: none;
      display: inline;
      border-right: 1px solid $light-gray;
    }
  }

  a {
    font-weight: bold;
    color: $blue;
  }
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

#channel li {
  display: block;
  padding: 15px;
  border-bottom: 1px solid $border;

  .username {
    font-weight: bold;
  }
}

.pane {
  height: 100%;

  border-radius: 4px;
  border: 1px solid $border;

  .header {
    font-size: 1.5rem;
    background: $light-gray;
    padding: 15px;
    border-bottom: 1px solid $border;
  }

  form {
    margin: 15px;
  }
}
